body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
.header1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    
    background-color: #ffffff;
    color: #000000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header1 .logo {
    margin: 0;
    padding: 0;
    display: flex;
}
.header1 .logo p{
    font-size: 35px;
    margin-left: 10px;
    display: center;
}
.logo img {
    height: 100px;
    padding: 10px;
}
.header1 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header1 nav ul li {
    margin-right: 1rem;
    
}
.header1 nav ul li a {
    color: #000000;
    text-decoration: none;
}
.header1 nav ul li a .bx {
    margin-right: 0.5rem;
    font-size: 35px;
}





.header2 {
    font-family: "Poppins", sans-serif;
    font-weight: 0;
    font-style: normal;
    font-size: 20px;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header2 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header2 nav ul li {
    margin-right: 3rem;
}
.header2 nav ul li a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Línea inferior transparente por defecto */
    padding-bottom: 0.25rem; /* Espacio entre el texto y la línea inferior */
    transition: border-bottom-color 0.3s;
}
.header2 nav ul li a:hover {
    border-bottom: 2px solid #FFCC29; /* Línea inferior amarilla al pasar el ratón */
}
